[submodule "modules/concat"]
	path = modules/concat
	url = git://github.com/ripienaar/puppet-concat
[submodule "modules/apache"]
	path = modules/apache
	url = git://github.com/puppetlabs/puppetlabs-apache
[submodule "modules/portage"]
	path = modules/portage
	url = git://github.com/adrienthebo/puppet-portage

[submodule "modules/firewall"]
	path = modules/firewall
	url = git://github.com/puppetlabs/puppetlabs-firewall
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib
